:root{

}

*{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* INICIO PÁGINA PRINCIPAL */
.main-tittle{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #000;
    top: 25%;
    box-shadow: 1px 1px 80px  #303030;
    text-shadow: 0px 5px 22px #3ea5ff; 
}

.first-page{
    width: 100%;
    height: 100vh;
}
.name{
    display: flex;
    color: #fff;
    font-size: 8vw;
}
.name p{
    letter-spacing: 5px;
}

.subname{
    display: flex;
    color:#f0f8ff;
    font-size: 4vw;
    text-shadow: 0px 5px 22px #3ea5ff;     
}

.arrow{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #ffebcd;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    text-shadow: 0px 5px 22px #3ea5ff; 
}

.arrow p{
    font-size: 0.9vw;
    text-align: center;
    color: #fff;
    
}

.arrow i{
    color: #fff;
    font-size: 3vw;
    text-align: center;
}

/* MENU PRINCIPAL */

.menu ul li a{
    text-decoration: none;
    color: #f0f8ff;
    text-shadow: 1px 1px 3px #3ea5ff;
    text-transform: lowercase;
    letter-spacing: 5px;
    background-color: transparent;
}

.menu{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: transparent;
    
}

.menu ul li {
    transition:0.3s ease-out;
    margin: 5px;
    list-style-type: none;
    background-color: transparent;
  }

  .menu ul {
    background-color: transparent;
  }

.menu ul li:hover{
    transform: translateX(15px);
}

/* SCROLL */

.container{
    height: 200vh;
}

/* CONTENIDO DESPUES DE SLIDER */

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: #000;
    top: 25%;
    box-shadow: 1px 1px 80px  #303030;
}

.content .description, .content .cita{
    color: #f0f8ff;
    width: 60%;
    letter-spacing: 3px;
}

.about p{
   display: flex;
   justify-content: center;
   align-items: center;
}

.skills, .projects, .contact{
    margin-top: 250px;
}
.container h2{
    color:#f0f8ff;
    letter-spacing: 3px;
    text-shadow: 0px 5px 22px #3ea5ff; 
    margin-bottom: 20px;
    font-size: 40px;    
}

/* ABOUT ME */

.about{
    margin-top: 100px;
}

.content .cita{
    font-size: smaller;
    padding-top: 20px;
}

/* SKILLS */

.skills .badges{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: #fff;
    width: 60%;
    justify-items: center;
    align-items: center;
}
   

.badges span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid white;
    border-radius: 50%;*/
    height: 70px;
    width: 70px;
}
    

/* HOVER ICON */

span {
    position: relative;
    cursor: pointer;
}
  
span i {
    font-size: 60px;
    transition: all 0.15s ease-in-out;
    text-shadow: 0px 5px 22px #3ea5ff;
}
  
span h3 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0px 5px 22px #3ea5ff;
    transform: translate(-50%, -50%);
    transition: all 0.15s ease-in-out;
}

span:hover{
    border:none;
}

span:hover i {
    opacity: 0;
}
  
span:hover h3 {
    display: block;
    opacity: 1;
    background-color: transparent;

  }


    /* SCROLLBAR */

::-webkit-scrollbar {
    width: 5px; 
}
  
::-webkit-scrollbar-thumb {
     background-color: #555;
     border-radius: 6px; 
}
  

  















    .contact{
    height: 10%;
    }

